body {
    background-image: url('bg.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed; 
    margin: 0;
    min-height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

.circle-box {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: rgba(247, 113, 189, 0.6); 
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px); 
    box-shadow: 
        0 4px 15px rgba(0, 0, 0, 0.15), 
        inset 0 0 20px rgba(255, 251, 240, 0.7); 
    transition: all 0.3s ease; 
}


.circle-box:hover {
    background-color: rgba(230, 149, 189, 0.8); 
    box-shadow: 0 6px 25px rgba(243, 172, 204, 0.2);
}

.time-date-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.time-text {
    font-size: 4rem;
    font-weight: bold;
    color: rgb(239, 230, 237);
}

.date-text {
    font-size: 1.5rem;
    color: rgb(245, 231, 241);
}

